/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgba(225, 255, 255,0.789);  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
    float:auto;
    
}

main {
    margin: 0 auto;
    width: 700px;
    position: center;
    
}


article {
    text-align: auto;
    color: rgb(20, 20, 20);
    
}


header {
    color: rgb(52, 56, 61);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}



/* specifieke stijlen */
.textstructuur { 
    font-family:Arial,Helvetica,Sans-Serif;
    font-size:88%;
    text-align:auto;
    font-weight:normal;

    
}
.tekstonderplaatje { 
    font-family:Arial,Helvetica,Sans-Serif;
    clear:both;
    float:left;
    font-size:88%;
    text-align:auto;
    font-weight:normal;
}
img.zweeflinks1 {
    float:left;
    margin-right:10px;  
    margin-top:6px;
    margin-bottom:10px;
}

img.zweeflinks2 {
    float:right;
    margin-left:15px;
    margin-top:6px;
    margin-bottom:10px;
    }
    
.zweeflinks3{
    float:left;
    margin-right: 25px;}

.smalltext {
    font-size: 0.7em;
    color: rgb(53, 81, 117);   
}

a {
    color: rgb(21, 113, 233);
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

div#rechts { 
    float:left;
}
div#clear { 
    clear:both;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding:5px;
    background-color:rgb(53, 81, 117);
    overflow: hidden; 
    
}

nav ul li {
    float: left;
    width:20%;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
}

nav li a:hover {
    background-color: rgba(141, 44, 41, 0.795);
}

nav li a.active {
    background-color: rgba(36, 112, 117, 0.795);
    
    
   
}




