/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(255, 255, 255);  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
    float:auto;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
    
}


article {
    text-align: justify;
    color: rgb(20, 20, 20);
    
}


header {
    color: rgb(52, 56, 61);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweeflinks1 {
    float:left;
    margin-right: 15px;  
}

img.zweeflinks2 {
    float:right;
    margin-left: 15px;}
    
.smalltext {
    font-size: 0.7em;
    color: rgb(53, 81, 117);   
}

a {
    color: rgb(21, 113, 233);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding:5px;
    background-color:rgb(53, 81, 117);
    overflow: hidden; 
    
}

nav ul li {
    float: left;
    width:20%;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
}

nav li a:hover {
    background-color: rgb(53, 81, 117);
}

nav li a.active {
    background-color: rgba(53, 103, 107, 0.795);
}




